.icon{
  font-size: 16px;
  cursor: pointer;
}

.menu-lists{
  display: flex;
  justify-content: flex-end;
  width: 100px;
  padding-right: 25px;
  height: 50px;
  list-style: none;
  .main-menu-item {
    position: relative;
    color: #85abea;
    padding-right: 20px;
    padding-top: 15px;
    .fa{
      opacity: 0.7;
      &:hover{
        opacity: 1;
      }
    }
    .fa-envelope{
      @extend .icon;
    }
    .fa-bell{
      @extend .icon;
    }
    .sub-menus{
      list-style: none;
      position: absolute;
      display: none;
      top: 45px;
      left: -280px;
      width: 310px;
      color: black;
      background-color: #eff2f7;
      border-radius: 5px;
      box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
      z-index: 1;
      .sub-menu-item{
        padding: 10px;
        opacity: 0.7;
        &:hover{
          background-color: #2f3742;
          color: white;
          font-weight: 800;
          font-size: 2em;
          cursor: pointer;
        }
      }
    }
    .show{
      display: block;
    }
    .badge-notify{
      background-color: #e5350d;
      color: white;
      border-radius: 15px;
      position:relative;
      top: -27px;
      left: 7px;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
    }
  }
}